body {
    background-color: #f9fafc;
    font-family: Arial, sans-serif;
  }

  .sp-container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
  }

  h2 {
    margin-bottom: 20px;
    color: #333;
  }

  .form-group {
    margin-bottom: 15px;
  }

  .form-group label {
    display: block;
    margin-bottom: 6px;
    color: #555;
  }

  select {
    width: 100%;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #fdfdfd;
    transition: border-color 0.3s, box-shadow 0.3s;
  }

  select:hover,
  select:focus {
    border-color: #0088ff;
    box-shadow: 0 0 8px rgba(0, 136, 255, 0.2);
    outline: none;
  }

  .sp-result {
    margin-top: 20px;
    padding: 10px;
    border-radius: 6px;
    text-align: center;
    background-color: #f1f5f9
  }

  .description-toggle {
    margin-bottom: 15px;
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    background-color: #0085fa;
    color: white;
    border-radius: 6px;
    transition: background-color 0.3s;
  }

  .description-toggle:hover {
    background-color: #006dcc;
  }

  .description-block {
    padding: 12px;
    background-color: #f1f5f9;
    border-radius: 6px;
    margin-bottom: 20px;
    color: #333;
  }
